# Ignore Python cache and venvs
__pycache__/
.venv/
.pytest_cache/

# Ignore Git
.git
.gitignore

# Ignore OS files
.DS_Store
.vscode

# Ignore tmp files
tmp

# Ignore credentials
gha-creds-*.json

# Ignore dev
.dev

# Ignore tests
tests