# Ignore Python cache and venvs
__pycache__/
.venv/
.pytest_cache/

# Ignore OS files
.DS_Store
.vscode

# Ignore tmp files
tmp

# Ignore dev
.dev

# Ignore credentials
gha-creds-*.json

# Ignore production config
config.yml